body {
	padding-top: 30px;
}
.head{
	text-align: center;
	font-size: 7rem;
	margin-bottom: 6rem;
	margin-top:2px;
	margin-left: 7rem;
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
}
.coninfo{
	float: right;
}
.logo{
	height: 17rem;
	width: 13rem;
	margin-left: 15.5rem;
	margin-bottom: 6rem;
	align-items: center;

}
.btn{

	background-color: #000000ad;
	color: white;
	border: 2px solid #000000ad;
}
.btn:hover{

	background-color: white;
	color: black;
}
.pp{
	height: 19rem;
	width: 13rem;
}
a{
	text-decoration: none;
	margin-left:0.5rem;
	margin-bottom: 1rem;
}
.con{
	font-size: 2rem;
	font-family: Arial, Helvetica, sans-serif;
}
h4{
	margin-top: 0;
}
.product {
	margin-top: 2rem;
	margin-bottom: 30px;
}
.product-inner {
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	padding: 10px;
}
.product img {
	margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
	.head{
		
		font-size: 3.5rem;
		margin-bottom: 2rem;
		display: flex;
		margin-left:0.5rem;
	}
	.con{
		font-size: 1.5rem;
		
		
	}
	.logo{
		height: 11rem;
		width: 8rem;
		margin-bottom: 2rem;
		margin-left: 14.5rem;
		
		
	}
	a{
		margin-left:0;
	}
  }